$front_page--height: calc(100vh - 66px);
$background-color1: white;
$background-color2: #F9F9F9;
$background-color3: #5E6977;
$background-color4: #545E6B;
$main_font-color: #43484D;
$content_font-color: #86939E;
$roboto-font: 'Roboto', sans-serif;
$prices--plan-hover_color: #39C1D1;
$prices--plan-color: #39C1D1;
$summary--font_color1: #C8CBCD;
$greenbutton: #7DC855;
